#wrapper {
    width: 70%;
    margin: 0 auto
}

#header {
    text-align: center;
    min-height: 8vh;
    background-image: url("/static/img/snake2.jpg");
    background-position: left bottom; /* Положение фона */
    background-repeat: repeat-x; /* Повторяем фон по горизонтали */
    margin: 10px 10px;
    border-radius: 20px
}

.ads {
    position: static;
    display: block;
    box-sizing: content-box;
    display: block;
    margin: 0 auto;
    width: 70%;
}

.slogan {
    color: tomato;
    font-size: 250%;
    text-shadow: #f9c9c9 1px 1px 0, #f9c9c9 2px 2px 0, #f9c9c9 3px 3px 0,
        #f9c9c9 4px 4px 0, #f9c9c9 5px 5px 0;
}

.weather {
    color: firebrick;
    font-weight: 600;
    font-size: 130%
}

.ad {
    display: flex;
    width: 80%;
    margin: 5px auto;
}
.ad_photo {
    width: auto;
    min-width: 15vw;
    margin-right: 5%;

}
.ad_data  {
    width: auto;
    min-width: 60%;

}
.ad_data h3 {
    color: #009cf0;
}
.ad_photo img {
    height: 17vh;
    width: auto
}
.pag_exp {
    display: none;
}
.adr {
    color: #8f8f8f;
}
.pagination {
    text-align: center;
}

@media screen and (orientation: portrait) {
    .slogan { font-size: 200%; }
    #wrapper {     width: 98%; }
    h1 { font-size: 1.5em; }
    h3 {margin: 0; }
    .ads { width: 100%}
    .ad { display: block; width: 100%; margin: 0; }
    .weather { font-size: 100% }
    .ad_photo img { width: 98%; height: auto; }

}

@media screen and (max-width: 1050px) {
   #wrapper {     width: 98%; }
   .ads { width: 100%; }
   .ad_photo { margin-right: 10%; }
}

@media screen and (max-width: 800px) {
    .slogan { font-size: 200%; }
    #wrapper {     width: 98%; }
    h1 { font-size: 1.5em; }
    h3 {margin: 0; }
    .ads { width: 100%}
    .ad { display: block; width: 100%; margin: 0; }
    .weather { font-size: 100% }
    .ad_photo img { width: 98%; height: auto; }


}

=======
#wrapper {
    width: 70%;
    margin: 0 auto
}

#header {
    text-align: center;
    min-height: 8vh;
    background-image: url("/static/img/snake2.jpg");
    background-position: left bottom; /* Положение фона */
    background-repeat: repeat-x; /* Повторяем фон по горизонтали */
    margin: 10px 10px;
    border-radius: 20px
}

.ads {
    position: static;
    display: block;
    box-sizing: content-box;
    display: block;
    margin: 0 auto;
    width: 70%;
}

.slogan {
    color: tomato;
    font-size: 250%;
    text-shadow: #f9c9c9 1px 1px 0, #f9c9c9 2px 2px 0, #f9c9c9 3px 3px 0,
        #f9c9c9 4px 4px 0, #f9c9c9 5px 5px 0;
}

.weather {
    color: firebrick;
    font-weight: 600;
    font-size: 130%
}

.ad {
    display: flex;
    width: 80%;
    margin: 5px auto;
}
.ad_photo {
    width: auto;
    min-width: 15vw;
    margin-right: 5%;

}
.ad_data  {
    width: auto;
    min-width: 60%;

}
.ad_data h3 {
    color: #009cf0;
}
.ad_photo img {
    height: 17vh;
    width: auto
}
.pag_exp {
    display: none;
}
.adr {
    color: #8f8f8f;
}
.pagination {
    text-align: center;
}

@media screen and (orientation: portrait) {
    .slogan { font-size: 200%; }
    #wrapper {     width: 98%; }
    h1 { font-size: 1.5em; }
    h3 {margin: 0; }
    .ads { width: 100%}
    .ad { display: block; width: 100%; margin: 0; }
    .weather { font-size: 100% }
    .ad_photo img { width: 98%; height: auto; }

}

@media screen and (max-width: 1050px) {
   #wrapper {     width: 98%; }
   .ads { width: 100%; }
   .ad_photo { margin-right: 10%; }
}

@media screen and (max-width: 800px) {
    .slogan { font-size: 200%; }
    #wrapper {     width: 98%; }
    h1 { font-size: 1.5em; }
    h3 {margin: 0; }
    .ads { width: 100%}
    .ad { display: block; width: 100%; margin: 0; }
    .weather { font-size: 100% }
    .ad_photo img { width: 98%; height: auto; }


}

